<!-- GET -->
<h1>GET - Listar Cursos</h1>

<button (click)="listarCursosAsync()">
  Listar Cursos (Async - Unsubscribe Automático)
</button>
<ul *ngIf="cursosAsync$ | async as cursosAsyncList; else loading">
  <li *ngFor="let curso of cursosAsyncList">
    {{ curso.id }}. {{ curso.nome }}
    <button (click)="editarCurso(curso.id)">Editar</button>
    <button (click)="excluirCurso(curso.id)">Excluir</button>
    <br>
    <br>
  </li>
</ul>

<button (click)="listarCursos()">Listar Cursos (Unsubscribe Manual)</button>
<ul *ngIf="cursos.length > 0; else loading">
  <li *ngFor="let curso of cursos">{{ curso.id }}. {{ curso.nome }}</li>
</ul>

<ng-template #loading>
  <div *ngIf="error$ | async; else stillLoading">
    <span>Erro ao carregar os cursos...</span>
  </div>
  <ng-template #stillLoading>
    <br />
    <span>Carregando Cursos...</span>
    <br />
  </ng-template>
</ng-template>

<br>
<br>

<!-- POST & PUT -->
<h1>POST - Salvar Curso</h1>

<form [formGroup]="form">
  <label for="nome">Nome do Curso </label>
  <input
    type="text"
    id="nome"
    placeholder="Digite o nome do curso"
    formControlName="nome"
  />
  <small *ngIf="!form.valid && formSubmitted">Esse campo precisa ter entre 3 e 50 caracteres</small>
  <div>
    <button (click)="salvarCurso()">Salvar Curso</button>
  </div>
</form>